#---------------------------------#
#      general configuration      #
#---------------------------------#

version: 2.0.0.{build}
skip_tags: true
skip_non_tags: false
image: Visual Studio 2022
configuration: Release

# enable service required for build/tests
services:
- postgresql13
- mssql2017

# scripts that are called at very beginning, before repo cloning
init:
- cmd: SET PATH=C:\Program Files\PostgreSQL\13\bin\;%PATH%
- cmd: SET PATH=C:\Program Files\MySQL\MySQL Server 8.0\bin\;%PATH%
- ps: Start-Service MySQL80

#---------------------------------#
#              build              #
#---------------------------------#

# scripts to run before build
before_build:
- cmd: SET PGPASSWORD=Password12!
- cmd: createdb --username=postgres my_database
- cmd: SET MYSQL_PWD=Password12!
- cmd: mysql -e "create database my_database;" --user=root
- ps: dotnet tool install --global Cake.Tool

# build
build_script:
- ps: dotnet cake

#---------------------------------#
#              tests              #
#---------------------------------#

# disable automatic tests
test: off

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
- path: '.\dist\Evolve*.nupkg'
- path: '.\dist\evolve.exe'
- path: '.\publish\coverage\badge_linecoverage.png'
- path: '.\publish\coverage'
  type: Zip