<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Evolve" version="1.8.0" targetFramework="net452" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.107.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.107.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.107.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.107.0" targetFramework="net452" />
</packages>