<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Evolve" version="1.9.0-alpha" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net471" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net471" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.9" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="1.1.9" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.9" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.9" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.9" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.9" targetFramework="net471" />
</packages>