<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Evolve" version="1.8.0" targetFramework="net452" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
</packages>