<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Evolve.Database" value="sqlserver" />
    <add key="Evolve.ConnectionString" value="Server=127.0.0.1;Database=my_database_2;User Id=sa;Password=Password12!;" />
    <add key="Evolve.Locations" value="scripts" />
    <add key="Evolve.Command" value="erase" />
  </appSettings>
</configuration>