<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Evolve.Driver" value="System.Data.Sqlite" />
    <add key="Evolve.ConnectionString" value="Data Source=:memory:" />
    <add key="Evolve.Locations" value="scripts" />
    <add key="Evolve.Command" value="erase" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>