<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Evolve.Driver" value="MySqlConnector" />
    <add key="Evolve.ConnectionString" value="Server=127.0.0.1;Port=${MYSQL_PORT};Database=my_database;Uid=root;Pwd=Password12!;SslMode=none;" />
    <add key="Evolve.Locations" value="scripts" />
    <add key="Evolve.Command" value="erase" />
  </appSettings>
</configuration>