<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Evolve" version="1.8.0" targetFramework="net451" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="1.0.3" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.3" targetFramework="net451" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
</packages>