<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Evolve.Driver" value="Npgsql" />
    <add key="Evolve.ConnectionString" value="Server=127.0.0.1;Port=${PG_PORT};Database=my_database;User Id=postgres;Password=Password12!;" />
    <add key="Evolve.Locations" value="scripts" />
    <add key="Evolve.Command" value="erase" />
  </appSettings>
</configuration>