<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cnn1" connectionString="Server=127.0.0.1;Port=5432;Database=myDataBase;User Id=myUsername;Password=myPassword;" />
  </connectionStrings>
  <appSettings>
    <add key="Evolve.ConnectionString" value="cnn1" />
    <add key="Evolve.Driver" value="npgsql" />
    <add key="Evolve.Locations" value="migration;dataset;" />
    <add key="Evolve.EraseDisabled" value="true" />
    <add key="Evolve.Command" value="ERase" />
    <add key="Evolve.EraseOnValidationError" value="TRue" />
    <add key="Evolve.Encoding" value="utf-16" />
    <add key="Evolve.SqlMigrationPrefix" value="Ver" />
    <add key="Evolve.SqlMigrationSeparator" value="@" />
    <add key="Evolve.SqlMigrationSuffix" value=".query" />
    <add key="Evolve.Schemas" value="my_shema" />
    <add key="Evolve.MetadataTableSchema" value="my_metadata_schema" />
    <add key="Evolve.MetadataTableName" value="metadata_store" />
    <add key="Evolve.PlaceholderPrefix" value="@{" />
    <add key="Evolve.PlaceholderSuffix" value="@}" />
    <add key="Evolve.TargetVersion" value="2_1_0" />
    <add key="Evolve.StartVersion" value="1_1_0" />
    
    <add key="Evolve.Placeholder.Schema" value="my_schema" />
    <add key="Evolve.Placeholder.Pwd" value="password" />
  </appSettings>
</configuration>