<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Evolve.ConnectionString" value="Server=127.0.0.1;Port=5432;Database=myDataBase;User Id=myUsername;Password=myPassword;" />
    <add key="Evolve.Driver" value="npgsql" />
    <add key="Evolve.Encoding" value="" />
    <add key="Evolve.Schemas" value="my_shema" />
    <add key="Evolve.EraseDisabled" value="false" />
    <add key="Evolve.EraseOnValidationError" value="Fals" />
  </appSettings>
</configuration>