<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Evolve.Driver" value="Cassandra" />
    <add key="Evolve.ConnectionString" value="Contact Points=127.0.0.1;Port=9042;Cluster Name=evolve;" />
    <add key="Evolve.Locations" value="scripts" />
    <add key="Evolve.Command" value="erase" />
    <add key="Evolve.MetadataTableSchema" value="my_keyspace" />
    <add key="Evolve.MetadataTableName" value="evolve_change_log" />
  </appSettings>
</configuration>